.arrow {
  position: relative;
  width: 32px;
  height: 32px;
}

.arrow:after,
.arrow:before {
  content: '';
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: var(--color-gray-800);
  top: 50%;
  transition-duration: 0.3s;
}

.arrow:after {
  transform: rotate(-45deg);
  right: 5px;
}

.arrow:before {
  transform: rotate(45deg);
  left: 5px;
}

.arrow.active:after {
  transform: rotate(45deg);
}

.arrow.active:before {
  transform: rotate(-45deg);
}
